@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
    var SaleLeader = Model.Where(x => x.FlagSaleLeader).ToList();
}

<div class="text-center">
    <h1 class="display-4">Главная страница</h1>

    @foreach (var p in SaleLeader) {
    <div>
        <h3>@p.Title</h3>
        @p.Description
            <p>@p.dblCaseSize</p>
        <h4>@p.PriceWithDiscount.ToString("c")</h4>
    </div>
}

    
</div>






