@model IEnumerable<Product>



@{
}

<h1>Список товаров</h1>


@foreach (var p in Model) {
    <div>
        <h3>@p.Title</h3>
        @p.Description
        <h4>@p.PriceWithDiscount.ToString("c")</h4>
    </div>
}


